.user-competency-course-navigation.coursemodule {
    min-width: 280px;
    position: relative;
    padding-left: 10px;
    left: 20px;
    bottom: 10px;
}
.user-competency-course-navigation.coursemodule [data-action="previous-user"],
.user-competency-course-navigation.coursemodule [data-action="next-user"] {
    font-size: 26px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    animation-name: display-arrows-navigation;
    -webkit-animation-name: display-arrows-navigation;
    -moz-animation-name: display-arrows-navigation;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.user-competency-course-navigation.coursemodule [data-action="previous-user"] {
    left: -16px;
}
.user-competency-course-navigation.coursemodule [data-action="next-user"] {
    margin-left: 3px;
}
.user-competency-course-navigation.coursemodule .badge.badge-info m-b-1 {
    margin-bottom: 0.4rem !important;
}
.user-competency-course-navigation.coursemodule span>.d-md-inline-block.position-relative {
    display: inline-block;
}

@keyframes display-arrows-navigation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes display-arrows-navigation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes display-arrows-navigation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.scale-comp-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}
.scale-comp-container .scale-comp-item {
    flex: 0 1 315px;
    -webkit-flex: 0 1 315px;
    -ms-flex: 0 1 315px;
    margin-right: 15px;
    min-width: 315px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-between;
}
.scale-comp-container .scale-comp-item .donotapplybulk {
    margin: 5px;
}
.scale-comp-container .scale-comp-item .donotapplybulk label {
    color: #31708f;
}
.scale-comp-container .scale-comp-item .donotapplybulk label input {
    margin-right: 5px;
}
.scale-comp-container .scale-comp-item table caption {
    font-size: 14px;
    line-height: 20px;
}
.scale-comp-container .scale-comp-item table.disabled {
    opacity: 0.5;
}
