<div class="pull-right well">
{{{btnbulkrating}}}
<p>{{{groupselector}}}</p>
<form class="user-competency-course-navigation coursemodule">
{{#hasusers}}
    {{#previoususerurl}}
    <a href="{{{previoususerurl}}}" data-action="previous-user">&#9664;</a>
    {{/previoususerurl}}
    <span>
    <label for="user-nav-{{uniqid}}" class="accesshide">{{#str}}jumptouser, tool_lp{{/str}}</label>
    <select id="user-nav-{{uniqid}}">
        {{#users}}
        <option value="{{id}}" {{#selected}}selected="selected"{{/selected}}>{{fullname}}</option>
        {{/users}}
    </select>
    </span>
    {{#nextuserurl}}
    <a href="{{{nextuserurl}}}" data-action="next-user">&#9658;</a>
    {{/nextuserurl}}
{{/hasusers}}
</form>
</div>
{{#js}}
require(['core/form-autocomplete', 'report_competency/user_course_navigation'], function(autocomplete, nav) {
    (new nav('#user-nav-{{uniqid}}', '{{baseurl}}', {{userid}}, {{cmid}}));
{{#hasusers}}
    autocomplete.enhance('#user-nav-{{uniqid}}', false, false, {{# quote }}{{# str }}jumptouser, tool_lp{{/ str }}{{/ quote }});
{{/hasusers}}
});
{{/js}}
